<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/admin-layout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
  <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
  <!--    <script th:src="@{/js/page/home.js}"></script>-->
</th:block>

<!-- Content -->
<div layout:fragment="content">

  <h1>동화 전체 목록 조회</h1>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">생성 일시</th>
      <th scope="col">최근 조회 일자</th>
      <th scope="col">삭제 여부</th>
      <th scope="col">생성 아이디</th>
      <th scope="col">자녀 명</th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="tale : ${taleList}">
      <th:block th:href="|?taleNo=${tale.taleNo}|">
        <td th:text="${tale.taleNo}"/>
        <td th:text="${tale.createdDate}"/>
        <td th:text="${tale.lastViewedDate}"/>
        <td th:text="${tale.isDelete}"/>
        <td th:text="${tale.adminChildrenAndMemberDTO.adminMemberDTO.memberName}"/>
        <td th:text="${tale.adminChildrenAndMemberDTO.childName}"/>
      </th:block>
    </tr>
    </tbody>
  </table>

</div>

</html>