<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.network.mylittletale.admin.model.dao.AdminMapper">
    <resultMap id="adminMemberDTOResultMap" type="com.network.mylittletale.admin.model.dto.AdminMemberDTO">
        <id property="memberNo" column="MEMBER_NO" />
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberRegistDatetime" column="MEMBER_REGIST_DATETIME"/>
        <result property="memberSecessionYN" column="MEMBER_SECESSION_YN"/>
        <result property="accSecessionDatetime" column="MEMBER_ROLE"/>
        <result property="childrenCnt" column="CHILDREN_CNT"/>
    </resultMap>
    <resultMap id="adminChildrenDTO" type="com.network.mylittletale.admin.model.dto.AdminChildrenAndMemberDTO">
        <id property="childNo" column="CHILD_NO" />
        <result property="childName" column="CHILD_NAME"/>
        <result property="childBirth" column="CHILD_BIRTH"/>
        <result property="childGender" column="CHILD_GENDER"/>
        <association property="adminMemberDTO" resultMap="adminMemberDTOResultMap"/>
    </resultMap>
    <resultMap id="admintaleDTOResultMap" type="com.network.mylittletale.admin.model.dto.AdminTaleAndChildrenDTO">
        <id property="taleNo" column="TALE_NO" />
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="lastViewedDate" column="LAST_VIEWED_DATE"/>
        <result property="isDelete" column="IS_DELETE"/>
        <association property="adminChildrenAndMemberDTO" resultMap="adminChildrenDTO"/>
    </resultMap>


    <select id="findMemberList" resultMap="adminMemberDTOResultMap">
        SELECT
               A.MEMBER_NO
             , A.MEMBER_ID
             , A.MEMBER_NAME
             , A.MEMBER_REGIST_DATETIME
             , A.MEMBER_SECESSION_DATETIME
             , A.MEMBER_SECESSION_YN
             , (SELECT COUNT(*)
                  FROM TBL_CHILDREN B
                 WHERE B.MEMBER_NO = A.MEMBER_NO
               ) as "CHILDREN_CNT"
          FROM TBL_MEMBER A
         WHERE A.MEMBER_ROLE = 'ROLE_MEMBER'
         ORDER BY A.MEMBER_NO ASC
    </select>

    <select id="findTaleList" resultMap="admintaleDTOResultMap">
        SELECT
               A.TALE_NO
             , A.CREATED_DATE
             , A.LAST_VIEWED_DATE
             , A.IS_DELETE
             , B.CHILD_NO
             , B.CHILD_NAME
             , B.CHILD_BIRTH
             , B.CHILD_GENDER
             , C.MEMBER_NO
             , C.MEMBER_ID
             , C.MEMBER_PWD
             , C.MEMBER_NAME
             , C.MEMBER_REGIST_DATETIME
             , C.MEMBER_SECESSION_DATETIME
             , C.MEMBER_SECESSION_YN
          FROM TBL_CREATED_TALE A
          JOIN TBL_CHILDREN B ON(A.CHILD_NO = B.CHILD_NO)
          JOIN TBL_MEMBER C ON(B.MEMBER_NO = C.MEMBER_NO)
         ORDER BY A.TALE_NO
    </select>


</mapper>
