<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.network.mylittletale.member.model.dao.MemberMapper">

    <select id="selectMemberById" resultType="string">
        SELECT
            A.MEMBER_ID
        FROM TBL_MEMBER A
        WHERE A.MEMBER_SECESSION_YN = 'N'
          AND A.MEMBER_ID = #{memberId}
    </select>

    <select id="findByMemberId" resultType="MemberDTO">
        SELECT
               A.MEMBER_NO
             , A.MEMBER_ID
             , A.MEMBER_PWD
             , A.MEMBER_NAME
             , A.MEMBER_REGIST_DATETIME
             , A.MEMBER_SECESSION_DATETIME
             , A.MEMBER_SECESSION_YN
             , A.MEMBER_ROLE
        FROM TBL_MEMBER A
        WHERE A.MEMBER_SECESSION_YN = 'N'
          AND A.MEMBER_ID = #{memberId}
    </select>

    <insert id="insertMember" parameterType="MemberDTO">
        INSERT
        INTO TBL_MEMBER A
            (
          A.MEMBER_NO
        , A.MEMBER_ID
        , A.MEMBER_PWD
        , A.MEMBER_NAME
        , A.MEMBER_SECESSION_DATETIME
        )
        VALUES
            (
            SEQ_MEMBER_NO.NEXTVAL
                , #{memberId}
                , #{memberPwd}
                , #{memberName}
                , null
            )
    </insert>

    <update id="updateMember">
        UPDATE
               TBL_MEMBER A
           SET A.MEMBER_PWD = #{memberPwd}
             , A.MEMBER_NAME = #{memberName}
         WHERE A.MEMBER_SECESSION_YN = 'N'
           AND A.MEMBER_ID = #{memberId}
    </update>

    <update id="deleteMember">
        UPDATE
               TBL_MEMBER A
           SET A.MEMBER_SECESSION_YN = 'Y'
         WHERE A.MEMBER_ID = #{memberId}
    </update>

</mapper>