<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.network.mylittletale.tale.model.dao.TaleMapper">
    <resultMap id="cutData" type="com.network.mylittletale.tale.model.dto.CutDataDTO">
        <id property="cutNo" column="CUT_NO"/>
        <result property="inputSentence" column="INPUT_SENTENCE"/>
        <result property="cutSequence" column="CUT_SEQUENCE"/>
        <result property="imgName" column="IMG_NAME"/>
        <result property="memberYN" column="MEMBER_YN"/>
    </resultMap>
    <resultMap id="tale" type="com.network.mylittletale.tale.model.dto.TaleDTO">
        <id property="taleNo" column="TALE_NO"/>
        <result property="createdDate" column="CREATED_DATE"/>
        <result property="lastViewDate" column="LAST_VIEWED_DATE"/>
        <result property="isDelete" column="IS_DELETE"/>
        <result property="childNo" column="CHILD_NO"/>

        <collection property="cutDataDTOList" resultMap="cutData"/>
    </resultMap>
    <resultMap id="children" type="com.network.mylittletale.children.model.dto.ChildrenDTO">
        <id property="childNo" column="CHILD_NO"/>
        <result property="childName" column="CHILD_NAME"/>
        <result property="childBirth" column="CHILD_BIRTH"/>
        <result property="memberNo" column="MEMBER_NO"/>
        <result property="childGender" column="CHILD_GENDER"/>
    </resultMap>


    <select id="getCutNo" resultType="int">
        SELECT
               SEQ_CUT_NO.NEXTVAL
          FROM DUAL
    </select>

    <select id="getTaleSequence" resultType="int">
        SELECT
               SEQ_TALE_NO.NEXTVAL
        FROM DUAL
    </select>

    <insert id="insertCutData" parameterType="com.network.mylittletale.tale.model.dto.CutDataDTO">
        INSERT INTO TBL_CUT_DATA A
        (
          A.CUT_NO
        , A.INPUT_SENTENCE
        , A.TALE_NO
        , A.CUT_SEQUENCE
        , A.IMG_NAME
        , A.MEMBER_YN
        )
        VALUES
        (
          #{cutNo}
        , #{inputSentence}
        , #{taleNo}
        , #{cutSequence}
        , #{imgName}
        , #{memberYN}
        )
    </insert>

    <select id="getCutSequence" resultType="int">
        SELECT MAX(CUT_SEQUENCE) FROM TBL_CUT_DATA WHERE TALE_NO = ${taleNo}
    </select>
    <select id="getTales" resultMap="cutData">
        SELECT
               INPUT_SENTENCE
             , TALE_NO
             , IMG_NAME
             , CUT_SEQUENCE
          FROM TBL_CUT_DATA
         WHERE TALE_NO = #{taleNo}
         ORDER BY CUT_SEQUENCE
    </select>

    <update id="updateTaleNo">
        UPDATE TBL_CUT_DATA
           SET TALE_NO = #{taleNo}
         WHERE CUT_NO = #{sequence}
    </update>

    <insert id="insertTale">
        INSERT INTO TBL_CREATED_TALE
        (
          TALE_NO
        , CREATED_DATE
        , IS_DELETE
        , CHILD_NO
        )
        VALUES
        (
          ${taleNo}
        , SYSDATE
        , 'N'
        , ${childNo}
        )
    </insert>

    <select id="getTaleList" resultMap="tale">
        SELECT
               A.TALE_NO
             , A.CREATED_DATE
             , A.LAST_VIEWED_DATE
             , A.IS_DELETE
             , A.CHILD_NO
             , B.CUT_NO
             , B.INPUT_SENTENCE
             , B.CUT_SEQUENCE
             , B.IMG_NAME
             , B.MEMBER_YN
          FROM TBL_CREATED_TALE A
          JOIN TBL_CUT_DATA B ON(A.TALE_NO = B.TALE_NO)
         WHERE A.CHILD_NO IN (SELECT
                                     CHILD_NO
                                FROM TBL_CHILDREN
                               WHERE MEMBER_NO = ${memberNo})
         ORDER BY A.TALE_NO
    </select>

    <select id="getChildList" resultMap="children">
        SELECT
               A.CHILD_NO
             , A.CHILD_NAME
             , A.CHILD_BIRTH
             , A.MEMBER_NO
             , A.CHILD_GENDER
          FROM TBL_CHILDREN A
         WHERE A.MEMBER_NO = #{memberNo}
         ORDER BY A.CHILD_BIRTH
    </select>




</mapper>
