<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
>

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/event.js}"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link href="../carousel/carousel.rtl.css" rel="stylesheet">

</head>

<th:block layout:fragment="content">

    <h3 align="center" style="margin-top: 100px">자녀의 이름을 입력해주세요.</h3>

    <form>
        <div style="display: flex; justify-content: center; margin-top: 50px" >
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="width: 500px" align="center"></textarea>
                <label for="floatingTextarea">자녀 이름</label>
            </div>
        </div>

        <div style="display: flex; justify-content: center; margin-top: 50px" >
            <a class="btn btn-primary" href="#" role="button" onclick="location.href='/tale/get-story'">다음</a>
        </div>
    </form>
</th:block>
</html>