<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
>

<head>
  <meta charset="UTF-8">
  <script type="text/javascript" th:src="@{/js/event.js}"></script>


  <link href="../carousel/carousel.rtl.css" rel="stylesheet">

</head>


<th:block layout:fragment="content">

  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-7">
<!--        <h2 class="featurette-heading"> 1컷 제목 <span class="text-muted"> 1컷 부제 </span></h2>-->
        <p style="font-size: 80px" th:text="${firstCutContent}" ></p>
      </div>
      <div class="col-md-5">
          <img th:src="|@{/tale/img/}${firstCutImgName}|" size>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
<!--        <h2 class="featurette-heading">2컷 제목 <span class="text-muted"> 2컷 부제 </span></h2>-->
        <p style="font-size: 80px" th:text="${secondCutContent}"></p>
      </div>
      <div class="col-md-5 order-md-1">
          <img th:src="|@{/tale/img/}${secondCutImgName}|">
<!--            <div th:text="${ firstCut.imgName }"></div>-->
      </div>
    </div>+

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
<!--        <h2 class="featurette-heading"> 3컷 제목 <span class="text-muted"> 3컷 부제 </span></h2>-->
          <p style="font-size: 80px" th:text="${thirdCutContent}"></p>
      </div>
      <div class="col-md-5">
          <img th:src="|@{/tale/img/}${thirdCutImgName}|">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
<!--        <h2 class="featurette-heading">4컷 제목 <span class="text-muted"> 4컷 부제 </span></h2>-->
          <p style="font-size: 80px" th:text="${fourthCutContent}"></p>
      </div>
      <div class="col-md-5 order-md-1">
          <img th:src="|@{/tale/img/}${fourthCutImgName}|">
      </div>
    </div>

    <hr class="featurette-divider">


  </div>

</th:block>

</html>
