<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
>

<head>


  <link href="../carousel/carousel.rtl.css" rel="stylesheet">

</head>


<th:block layout:fragment="content">

  <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-7">
<!--        <h2 class="featurette-heading"> 1컷 제목 <span class="text-muted"> 1컷 부제 </span></h2>-->
        <p class="lead">1컷 내용</p>

      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">1컷 사진</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
<!--        <h2 class="featurette-heading">2컷 제목 <span class="text-muted"> 2컷 부제 </span></h2>-->
        <p class="lead">2컷 내용</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">2컷 사진</text></svg>
<!--            <div th:text="${ firstCut.imgName }"></div>-->
      </div>
    </div>+

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
<!--        <h2 class="featurette-heading"> 3컷 제목 <span class="text-muted"> 3컷 부제 </span></h2>-->
        <p class="lead">3컷 내용</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">3컷 사진</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
<!--        <h2 class="featurette-heading">4컷 제목 <span class="text-muted"> 4컷 부제 </span></h2>-->
        <p class="lead">4컷 내용</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">4컷 사진</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">


  </div>

</th:block>

</html>
