<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{common/layouts/layout}"
>

<head>
  <script type="text/javascript" th:src="@{/js/event.js}"></script>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <link href="../carousel/carousel.rtl.css" rel="stylesheet">

</head>

<th:block layout:fragment="content">

  <h2 align="center" style="margin: 50px">컷이 완성되었습니다!</h2>

<!--  <div style="display: flex; justify-content: center">-->

    <div class="text-center">
      <img id="resultImg" th:src="|@{/tale/img/}${imageName}|">
    </div>

    <div style="display: flex; justify-content: center; margin-top: 50px">
      <a class="btn btn-primary" role="button" onclick="location.href='/tale/get-story'">다음 컷 만들러 가기</a>
<!--      <a class="btn btn-primary" role="button" onclick="location.href='/tale/list'">동화 목록으로 가기</a>-->
    </div>

<!--  </div>-->

</th:block>
</html>