<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
>

<head>

  <link href="../carousel/carousel.rtl.css" rel="stylesheet">

</head>

<th:block layout:fragment="content">

  <h2 th:align="center" style="margin-top: 100px; margin-bottom: 50px">주인공이 될 자녀를 선택해주세요.</h2>

  <div style="display: flex; justify-content: center">
    <div th:each="child : ${childList}">
      <div class="card text-center" style="width: 18rem; margin: 20px">
        <div class="card-body">
          <h5 class="card-title">자녀</h5>
          <p class="card-text" th:text="${child.childName}">이름 : </p>
          <p class="card-text" th:text="${child.childBirth}">생년월일 : </p>
          <a href="#" class="btn btn-primary">너가 주인공 해라</a>
        </div>
      </div>

    </div>


  </div>




</th:block>
</html>