<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">

<th:block layout:fragment="content">

  <script th:inline="javascript">
      /*<![CDATA[*/

      let message = [[${message}]];

      if (message != null && message !== '') {
          alert(message);
      }

      /*]]>*/


  </script>
  <!-- Begin Page Content -->
  <main>
    <!--    <div class="container" style="background-image:url(/assets/img/mylittletales_tutorial_fv.gif)">-->

    <div class="container d-flex justify-content-center">
      <img src="/assets/img/mylittletales_tutorial_fv.gif">
    </div>

    <div class=" px-4 pt-5 text-center container">
      <h1 class="display-4 fw-bold">나만의 동화를 만들어 보세요</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">상상의 나래를 펼처서 나만의 동화를 만들어 보세요!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" onclick="location.href='/tale/get-story'">동화
            만들러 가보기
          </button>
          <!--        <button type="button" class="btn btn-outline-secondary btn-lg px-4">만드는 방법</button>-->
        </div>
      </div>
    </div>
    </div>
  </main>
</th:block>

</html>

