<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
>

<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/event.js}"></script>

    <!-- Custom styles for this template -->
<!--    <link href="https://getbootstrap.kr/docs/5.1/examples/sign-in/signin.css" rel="stylesheet">-->
    <!-- page css -->
</head>


<th:block layout:fragment="content">
    <main>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">로그인</h2>
            <div class="text-center mb-5 text-dark">my little tales</div>
            <div class="card my-5">

                <form class="card-body cardbody-color p-lg-5" id="loginForm"
                      th:action="@{/member/login}" method="post">

                    <div class="text-center">
                        <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
                             class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                             width="200px" alt="profile">
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="memberId" name="memberId"
                               placeholder="아이디를 입력해주세요" required>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control"
                               id="memberPwd" name="memberPwd" placeholder="비밀번호를 입력해주세요" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary px-5 mb-5 w-100">로그인하기</button>
                    </div>
                    <div id="registHelp" class="form-text text-center mb-5 text-dark">아직 회원이 아닌가요?
                        <a href="/member/regist" class="text-dark fw-bold">회원 가입 하러 가기</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
    </main>
</th:block>

</html>