<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}">

<th:block layout:fragment="content">

  <div class="outer outer-member-insert">
    <br>
    <h2 style="text-align: center">회원 가입</h2>

    <form id="joinForm" th:action="@{/member/regist}" method="post">
      <table style="margin: 0 auto">
        <tr>
          <td style="width: 120px">* 아이디 </td>
          <td><input type="text" maxlength="13" name="memberId" id="memberId" required></td>
          <td style="width: 100px"><input type="button" value="중복확인" class="btn btn-bs" id="duplicationCheck"></td>
        </tr>
        <tr>
          <td>* 비밀번호</td>
          <td><input type="password" maxlength="13" name="memberPwd" required></td>
          <td></td>
        </tr>
        <tr>
          <td>* 비밀번호확인</td>
          <td><input type="password" maxlength="13" name="memberPwd2"></td>
          <td></td>
        </tr>
        <tr>
          <td>* 회원이름</td>
          <td><input type="text" maxlength="5" name="memberName" required></td>
          <td></td>
        </tr>
      </table>
      <br>
      <div class="btns" style="align-items: center">
        <button type="button" class="btn btn-pk" id="goMain" th:onclick="|location.href='@{/}'|">돌아가기</button>
        <input type="submit" value="가입하기" class="btn btn-or">
      </div>
    </form>
  </div>
</th:block>

</html>

<!--<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>-->
<!--<script th:inline="javascript">-->

<!--  const $searchZipCode = document.getElementById("searchZipCode");-->
<!--  const $goMain = document.getElementById("goMain");-->

<!--  $searchZipCode.onclick = function() {-->

<!--    new daum.Postcode({-->
<!--      oncomplete: function(data){-->
<!--        document.getElementById("zipCode").value = data.zonecode;-->
<!--        document.getElementById("address1").value = data.address;-->
<!--        document.getElementById("address2").focus();-->
<!--      }-->
<!--    }).open();-->
<!--  }-->

<!--  $goMain.onclick = function() {-->
<!--    location.href = "/";-->
<!--  }-->

<!--</script>-->