<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<!--  <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
  <style>
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
      }

      @media (min-width: 768px) {
          .bd-placeholder-img-lg {
              font-size: 3.5rem;
          }
      }
  </style>
</head>
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <i class="bi bi-list toggle-sidebar-btn"></i>
      <a href="/admin" class="logo d-flex align-items-center ms-2">
        <img src="/admin/assets/img/logo.svg" alt="logo">
        <span class="d-none d-lg-block">NiceAdmin</span>
      </a>
    </div><!-- End Logo -->

<!--    <div class="search-bar">-->
<!--      <form class="search-form d-flex align-items-center" method="POST" action="#">-->
<!--        <input type="text" name="query" placeholder="Search" title="Enter search keyword">-->
<!--        <button type="submit" title="Search"><i class="bi bi-search"></i></button>-->
<!--      </form>-->
<!--    </div>&lt;!&ndash; End Search Bar &ndash;&gt;-->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
<!--            <img src="/admin/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">-->
            <i class="bi bi-gear"></i>
            <span class="d-none d-md-block dropdown-toggle ps-2">관리자</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>My Little Tales</h6>
              <span>관리자</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

<!--            <li>-->
<!--              <a class="dropdown-item d-flex align-items-center" href="/admin/users-profile.html">-->
<!--                <i class="bi bi-gear"></i>-->
<!--                <span>Account Settings</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->

<!--            <li>-->
<!--              <a class="dropdown-item d-flex align-items-center" href="/admin/pages-faq.html">-->
<!--                <i class="bi bi-question-circle"></i>-->
<!--                <span>Need Help?</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <hr class="dropdown-divider">-->
<!--            </li>-->

            <li>
              <a class="dropdown-item d-flex align-items-center" href="/member/logout">
                <i class="bi bi-box-arrow-right"></i>
                <span>로그 아웃</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

</div>
</header>
</div>
</html>